{% extends "student/dashboard_layout.html" %}
{% block title %}
تغییر گذرواژه
{% endblock title %}

{% block heading %}

{% endblock heading %}

{% block content %}

 <!-- <em class="is-size-3">
    {{ request.session.result }}
</em> -->
<!--  parisa cm kard <form style="direction:rtl" action="{% url 'change_password' %}" method="post"> 
    {% csrf_token %}-->
 <!--
    <div class="field">
    <div class="control">
      <input class="input is-large" type="password" name="oldPasswd" id="oldPasswd" placeholder="گذرواژه‌ی کنونی" autofocus="">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-large" type="password" name="confPasswd" id="confPasswd" placeholder="تکرار گذرواژه">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-large" type="password" name="newPasswd" id="newPasswd" placeholder="گذرواژه‌ی جدید">
    </div>
  </div>-->
  
  <!-- parisa cm kard {{form}}
  
  <button type="submit" class="button is-block is-info is-large is-fullwidth">ذخیره‌ی تغییرات</button> 
</form> -->
<div class="row m-auto" style="width: 50% !important;">
<div class=" col-12 rtlDirection text-right blue-border" >	
	<h2 class="p-2">تغیر گذر واژه</h2>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- Start form -->
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">گذرواژه کنونی</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" گذرواژه کنونی">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">گذرواژه جدید</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="گذرواژه جدید ">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">تکرار گذرواژه جدید</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="تکرار گذرواژه جدید">
                      </div>
                      <div class="form-check"> 
                        <button type="submit" class="btn btn-primary row-blue-bg my-2 mr-2">تایید</button>
                      </div>
                      
                    </form>


			<!-- End form -->
		</div>
	</div>
</div>
<!--آقا من همه کاراشو کردم بعد فهمیدم این تمپلیت خاصیتش چیز دیگه بوده حالا اگه داشت برامون ایجاد مشکل میکرد عوضش میکنم :دی -->
<script>
  jQuery(document).ready(function(){


// Show password Button
$("#showpassword").on('click', function(){
  
  var pass = $("#password");
  var fieldtype = pass.attr('type');
  if (fieldtype == 'password') {
    pass.attr('type', 'text');
    $(this).text("Hide Password");
  }else{
    pass.attr('type', 'password');
    $(this).text("Show Password");
  }

  });
});

</script>
{% endblock content %}
