{% extends "student/dashboard_layout.html" %}
{% block title %}
{% endblock title %}

{% block heading %}
{% endblock heading %}

{% block content %}
<!--personal detailes-->
    <div class="col-12 rtlDirection rtlAlignment table-responsive" style="border: 2px solid #5ca9ff;">
        <h3>داشبورد</h3>
        <table class="table table-striped ">
            <thead>
                <tr class="filters">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>نام </th>
                    <td>{{user.first_name}}
                    </td>
                    <th>نام خانوادگی</th>
                    <td>{{user.last_name}}
                    </td>
                    <th>شماره‌ دانشجویی</th>
                    <td>{{user.student.student_number}}</td>
                    <th>رشته</th>
                    <td>{{user.student.major}}</td>
                    <th>کد ملی</th>
                    <td>{{user.student.national_id}}</td>
                    <th>نام ‌پدر</th>
                    <td>{{user.student.father_name}}</td>
                    <th>سال تحصیلی</th>
                    <td>تابستان ۹۸-۹۷</td>
                </tr>

            </tbody>
        </table>
    </div>

<!--/personal detailes-->
<!--personal requests-->
<div class="col-12 rMultiValueDictKeyErrortlDirection rtlAlignment table-responsive mt-5" style="border: 2px solid #5ca9ff;">
        <h3>درخواست‌های من</h3>
        <table class="table table-striped ">
            <thead>
                <tr class="filters">
                        <th>زمان درخواست شده</th>
                        <th>تاریخ ثبت درخواست</th>
                        <th>دانشجوی درخواست‌کننده</th>
                        <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation_request in reservation_requests %}
                <tr>
                    <td>{{ reservation_request.requested_defense_time }}</td>
                    <td>{{ reservation_request.request_date_time }}</td>
                    <td>{{ reservation_request.requesting_student }}</td>
                    
                    <td>
                        <a class="navbar-item" onclick="postCancelationRequest(this,'{% url 'cancel_reservation' %}');" data-id="{{reservationRequest.id}}">
                            <span class="icon is-small">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
                    </td>
                
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div> <!--script needed-->
<!--/personal requests-->
{% endblock content %}
