{% extends "student/dashboard_layout.html" %}
{% block title %}
{% endblock title %}

{% block heading %}
{% endblock heading %}

{% block content %}
<!--personal detailes-->

    <div class="col-12 rtlDirection text-right table-responsive blue-border"  >
        <h4 class="m-2 ">اطلاعات شخصی</h4>
        <table class="table">
            <thead class=" row-blue-bg">
                <tr class="filters">
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>شماره‌ دانشجویی</th>
                    <th>رشته</th>
                    <th>کد ملی</th>
                    <th>نام ‌پدر</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td>{{user.student.first_name}}
                    </td>
                    <td>{{user.student.last_name}}
                    </td>
                    <td>{{user.student.student_number}}</td>
                    <td>{{user.student.major}}</td>
                    <td>{{user.student.national_id}}</td>
                    <td>{{user.student.father_name}}</td>
                </tr>

            </tbody>
        </table>
    </div>

<!--/personal detailes-->
<!--defense detailes-->
<div class="col-12 rtlDirection text-right table-responsive mt-5 blue-border"  >
    <h4 class="m-2 ">اطلاعات پایان‌نامه</h4>
    <table class="table  ">
        <thead class="row-blue-bg">
            <tr class="filters">
                <th> موضوع پایان‌نامه </th>
                <th> مدیر گروه</th>
                <th>استاد مشاور </th>
                <th>استاد راهنما</th>
                <th>داور  </th>
                <th>نیمسال تحصیلی</th>
                <th>تاریخ تصویب </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{current_defense.subject}}
                </td>
                <td> {{current_defense.dean}}
                </td>
                <td>
                    {% if current_defense.advisor%}
                        {{current_defense.advisor}} 

                    {% else %}
                        ندارد
                    {% endif %}
                
                </td>
                <td>{{current_defense.supervisor}}</td>
                <td>{{current_defense.examiner}}</td>
                <td>{{current_defense.semester}}</td>
                <td>{{current_defense.approval_date}}</td>
            </tr>

        </tbody>
    </table>
</div>
<!--/defense detailes-->
<!--personal requests-->
<div class="col-12 rMultiValueDictKeyErro rtlDirection text-right table-responsive mt-5 blue-border"  >
        <h4 class="m-2 "> پیگیری درخواست</h4>
        <table class="table ">
            <thead class="row-blue-bg">
                <tr class="filters">
                    <th>زمان درخواست شده</th>
                    <th>تاریخ ثبت درخواست</th>
                    <th>کد رهگیری</th>                        
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation_request in reservation_requests %}
                <tr>
                    <td>{{ reservation_request.requested_defense_time }}</td>
                    <td>{{ reservation_request.formatted_request_datetime }}</td>
                    <td>{{ reservation_request.tracing_code }}</td>
                    <td>{{ reservation_request.get_status_display }}</td>
                    
                    <td>
                        <a class="" onclick="postCancelationRequest(this,'{% url 'cancel_reservation' %}');" href="#" data-id="{{reservationRequest.id}}">
                                <i class="fa fa-trash 4x"></i>
                        </a>
                    </td>
                
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
 <!--script needed-->
<!--/personal requests-->
{% endblock content %}
