{% extends "student/dashboard_layout.html" %} 
{% block title %} زمان‌های موجود برای دفاع {% endblock %} 
{% block content %}
<div class="columns is-multiline">
    <div class="column">
        <button type="submit" class="button">ثبت</button>
        <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-right">
            <thead>
                <td>انتخاب</td>
                <td>کد</td>
                <td>تاریخ برگزاری</td>
                <td>روز هفته</td>
                <td>ساعت شروع</td>
                <td>ساعت پایان</td>
                <td>مکان دفاع</td>
                <td>عملیات</td>
            </thead>
            <tbody>
                {% for defense_time in defense_times %}
                <tr>
                    <td>
                        <input type="checkbox"></input>
                    </td>
                    <td>{{ defense_time.id }}</td>
                    <td>{{ defense_time.occurrence_date }}</td>
                    <td>{{ defense_time.weekday }}</td>
                    <td>{{ defense_time.start_time }}</td>
                    <td>{{ defense_time.end_time }}</td>
                    <td>{{ defense_time.defense_place }}</td>

                    <td>
                        <a class="navbar-item" onclick="postReservationRequest(this,'{% url 'submit_reservation' %}');" data-id="{{defense_time.id}}">
                            <span class="icon is-small">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if defense_time.has_other_pages %} 
            {% if defense_time.has_previous %}
            <a class="pagination-previous" href="?page={{ defense_time.previous_page_number }}">صفحه‌ی قبلی</a>
            {% else %}
            <a class="disabled pagination-previous">صفحه‌ی قبلی</a>
            {% endif %}
            <ul class="pagination-list">
                {% for i in defense_time.paginator.page_range %} 
                {% if defense_time.number == i %}
                <li>
                    <a class="selected pagination-link" aria-label="Goto page {{ i }}">{{ i }}</a>
                </li>
                

                {% else %}
                <li>
                    <a class="pagination-link" aria-label="Goto page {{ i }}" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} 
                {% endfor %}
            </ul>
            {% if users.has_next %}
            <a class="pagination-next" href="?page={{ defense_time.next_page_number }}">صفحه‌ی بعدی</a>
            {% else %}
            <a class="disabled pagination-next">صفحه‌ی بعدی</a>

    {% endif %}
        {% else %}
        <p>nope</p>
    {% endif %}
        </nav>
    </div>
</div>
{% endblock %} 
{% block javascript %}
<script>
    function postReservationRequest(sender, endpoint) {
        let did = $(sender).data('id');
        //alert(did);
        $.ajax({
            url: endpoint,
            data: {
                id: did
            },
            dataType: 'JSON',
            method: 'POST',
            success: function (result) {
                alert(result.msg);
            },
            error: function () {
                alert('error');
            }
        })
    }
</script>
{% endblock javascript %}