{% extends "student/dashboard_layout.html" %}
{% block title %}
زمان‌های موجود برای دفاع
{% endblock %}
{% block content %}
<div class="col-12 table-responsive rtlDirection text-right blue-border">
    <h4 class="m-2"> زمان‌های موجود</h4>
    <div id="notice" class="alert d-none">
            <strong>Success!</strong> Indicates a successful or positive action.
          </div>
            <table class="table table-hover" >
                <thead class=" row-blue-bg">
                    <tr class="filters">
                        <th>کد</th>
                        <th>تاریخ برگزاری</th>
                        <th>روز هفته</th>
                        <th>ساعت شروع</th>
                        <th>ساعت پایان</th>
                        <th>مکان دفاع</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                        {% for defense_time in defense_times %}
                    
                    <tr>
                        <td>{{defense_time.id}}</td>
                        <td>{{ defense_time.occurrence_date }}</td>
                        <td>{{ defense_time.weekday }}</td>
                        <td>{{ defense_time.start_time }}</td>
                        <td>{{ defense_time.end_time }}</td>
                        <td>{{ defense_time.defense_place }}</td>
                                                    
                        <td>
                        <a  onclick="submitIdAJAX(this,'{% url 'defense_times' %}');" data-id="{{defense_time.id}}">
                            <i class="button fa fa-check">ثبت</i>
                        </a>

                        </td>
        
                        </tr>
                            {% endfor %}
                </tbody>
            </table>
    
        <hr class="my-0">
        
        <!--Bottom Table UI-->
        <div class="d-flex justify-content-center">
            
            <!--Pagination -->
            <nav class="my-4 pt-2">
                    {% if defense_times.has_other_pages %}
            <ul class="pagination pagination-circle pg-purple mb-0">
                <!--First-->
                <li class="page-item clearfix d-none d-md-block"><a href="?page=1" class="page-link">صفحه‌ی اول</a></li>
                {% if defense_times.has_previous %}
                
                <!--Arrow left-->
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" href="?page={{ defense_times.previous_page_number }}">
                        <span aria-hidden="true">قبلی</span>
                        <span class="sr-only">قبلی</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">قبلی</span></li>
                {% endif %}
                {% for i in defense_times.paginator.page_range %}
                {% if defense_times.number == i %}
                <!--Numbers-->
                <li class="page-item active"><span class="page-link">{{ i }} </span></li>
                
                {% else %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                 {% endif %}
                 {% endfor %}
                 {% if defense_times.has_next %}
                <!--Arrow right-->
                <li class="page-item">
                    <a class="page-link" aria-label="Next" href="?page={{ defense_times.next_page_number }}">
                        <span aria-hidden="true">بعدی</span>
                        <span class="sr-only">بعدی</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled page-item"><span class="page-link">بعدی</span></li>
                {% endif %}
                <!--First-->
                <li class="page-item clearfix d-none d-md-block"><a href="?page={{ defense_times.end_index }}" class="page-link">آخرین صفحه</a></li>
                
            </ul>
            {% endif %}
        </nav>
        <!--/Pagination -->
        
        </div>
        <!--Bottom Table UI-->
    
    </div>

{% endblock %}

{% block javascript %}
{% endblock javascript %}