{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1s">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'common/styles/main.css' %}"> 
    <style>

    </style>
  </head>

  <body  style="background-color:	#f8f8f8;">
    <div class="container rounded mt-5 text-center" style="width: 23%;">
        <div class="card card-container">
          <div class="text-center row-blue-bg">
             <h5 id="profile-name" class="profile-name-card mt-3">  به سامانه رزرواسیون اتاق دفاع خوش آمدید </h5>
          </div>
          {% if request.session.error %}
          
          <div id="notice" class="alert alert-danger">
            <strong>خطا!</strong> {{request.session.error}}
          </div>
          {% endif %}
          <form class="form-signin px-5 " action="{% url 'login' %}" method="post">
              {% csrf_token %}
            <div class="text-right rtlDirection">
              <label class="mt-1" for="inputَUserName" > نام کاربری</label>
                <input class="form-control text-right"  type="username" id="inputEmail" name="username" placeholder="نام کاربری" required autofocus>
              <label class="mt-1" for="inputَPassword" >گذرواژه</label>
                <input class="form-control text-right" type="password" id="inputPassword" name="password" placeholder="گذرواژه" required>
              <div class="checkbox mt-2 text-right">
                <label>
                    مرا به خاطر بسپار
                    <input class="mt-1" type="checkbox" value="remember-me"> 
                </label>
              </div>
              <div>
                  <button class="btn btn-lg btn-primary btn-block row-blue-bg" type="submit">ورود به سامانه</button>
              </div >
           
              <div class="my-3 text-center">
                  <a href="../">بازیابی گذرواژه</a> &nbsp;·&nbsp;
                  <a href="{% url 'guide' %}">راهنمای سامانه</a>
              </div>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
  </body>
</html>
