{% extends "public/public_layout.html" %}
{% block title %}
برنامه جلسات دفاع
{% endblock title %}

{% block content %}

    <div class="col-12 table-responsive rtlDirection text-right blue-border">
     <h4 class="m-2 "> برنامه جلسات دفاع </h4>

            <table class="table table-hover " >
                <thead class=" row-blue-bg">
                    <tr class="filters">
                        <th >ردیف</th>
                        <th >زمان</th>
                        <th > مکان</th>
                        <th > موضوع</th>
                        <th >رشته</th>
                        <th >توضیحات</th>
                    </tr>
                </thead>
                <tbody>
                  {% for schedule in schedules %}
                  
                  <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{schedule.designated_defense_time}}</td>
                      <td>{{schedule.designated_defense_time.defense_place}}</td>
                      <td>{{schedule.subject}}</td>
                      <td>{{schedule.major}}</td>
                      <td>{{schedule.info}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    
        <hr class="my-0">
    
    <!--Bottom Table UI-->
    <div class="d-flex justify-content-center">
    
            <!--Pagination -->
            <nav class="my-4 pt-2">
                <ul class="pagination pagination-circle pg-purple mb-0">
    
                    <!--First-->
                    <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">صفحه‌ی اول</a></li>
    
                    <!--Arrow left-->
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">صفحه‌ی قبل</span>
                    </a>
                    </li>
    
                    <!--Numbers-->
                    <li class="page-item active"><a class="page-link">۱</a></li>
                    <li class="page-item"><a class="page-link">۲</a></li>
                    <li class="page-item"><a class="page-link">۳</a></li>
                    <li class="page-item"><a class="page-link">۴</a></li>
                    <li class="page-item"><a class="page-link">۵</a></li>
    
                    <!--Arrow right-->
                    <li class="page-item">
                        <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">صفحه‌ی بعد</span>
                    </a>
                    </li>
    
                    <!--First-->
                    <li class="page-item clearfix d-none d-md-block"><a class="page-link">آخرین صفحه</a></li>
    
                </ul>
            </nav>
            <!--/Pagination -->
    
        </div>
        <!--Bottom Table UI-->
    
    </div>

{% endblock %}