{% extends "public/public_layout.html" %}
{% block title %}
برنامه جلسات دفاع
{% endblock title %}

{% block content %}

    <div class="col-12 table-responsive rtlDirection text-right blue-border">
     <h4 class="m-2 "> برنامه جلسات دفاع </h4>
     <div> 
     <input class="form-control my-3"  type="text" placeholder="جستجو کنید" style="width: 50%;">
     <button class="btn btn-primary" id="myInput" onkeyup="myFunction()" >search</button>
    </div>
            <table class="table table-hover" >
                <thead class=" row-blue-bg">
                    <tr class="filters">
                        <th >مشخصه</th>
                        <th >زمان</th>
                        <th > مکان</th>
                        <th > موضوع</th>
                        <th >رشته</th>
                        <th >توضیحات</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="#myTable">
                  {% for schedule in schedules %}
                  {% if schedule.designated_defense_time %}
                  
                  
                  <tr id="trId">
                      {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
                      <td>{{schedule.id}}</td>
                      <td>{{schedule.designated_defense_time}}</td>
                      <td>{{schedule.designated_defense_time.defense_place}}</td>
                      <td>{{schedule.subject}}</td>
                      <td>{{schedule.major}}</td>
                      <td>{{schedule.info}}</td>
                      <td><a href="{% url 'defense_announcement' dsid=schedule.id %}">مشاهده جزئیات</a></td>
                      
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>

    
        <hr class="my-0">
    
    <!--Bottom Table UI-->
    <div class="d-flex justify-content-center">
    
                      <!--Pagination -->
                      <nav class="my-4 pt-2">
                            {% if schedules.has_other_pages %}
                    <ul class="pagination pagination-circle pg-purple mb-0">
                        <!--First-->
                        <li class="page-item clearfix d-none d-md-block"><a href="?page=1" class="page-link">صفحه‌ی اول</a></li>
                        {% if schedules.has_previous %}
                        
                        <!--Arrow left-->
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="?page={{ schedules.previous_page_number }}">
                                <span aria-hidden="true">قبلی</span>
                                <span class="sr-only">قبلی</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled page-item"><span class="page-link">قبلی</span></li>
                        {% endif %}
                        {% for i in schedule.paginator.page_range %}
                        {% if schedule.number == i %}
                        <!--Numbers-->
                        <li class="page-item active"><span class="page-link">{{ i }} </span></li>
                        
                        {% else %}
                         <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                         {% endif %}
                         {% endfor %}
                         {% if schedules.has_next %}
                        <!--Arrow right-->
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" href="?page={{ schedules.next_page_number }}">
                                <span aria-hidden="true">بعدی</span>
                                <span class="sr-only">بعدی</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="disabled page-item"><span class="page-link">بعدی</span></li>
                        {% endif %}
                        <!--First-->
                        <li class="page-item clearfix d-none d-md-block"><a href="?page={{ schedules.end_index }}" class="page-link">آخرین صفحه</a></li>
                        
                    </ul>
                    {% endif %}
                </nav>
                <!--/Pagination -->
    
        </div>
        <!--Bottom Table UI-->
    
    </div>
<script>
    // $(document).ready(function () {
    //     $("#myInput").on("keyup", function () {
    //         var value = $(this).val().toLowerCase();
    //         $("#myTable tr").filter(function () {
    //             $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //         });
    //     });
    // });

    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsById("trId");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            ;debugger
            if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
    }
</script>
{% endblock %}