{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
      
        <meta name="language" content="en-EN" />
        <meta name="author" content="Ashkan Taravati" />
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v18.0.1/dist/font-face.css" rel="stylesheet" type="text/css" />
        <title>{% block title %} {% endblock%}</title>
 <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}"> 
</head>
<body dir="rtl">



        <header class="hero is-light">
                <div class="hero-head">
                  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
            
                      <a class="navbar-item is--brand">
                        <!-- <img class="navbar-brand-logo" src="/bulma-admin-dashboard-template/logo.png" alt="Bulma Admin Template logo"> -->
                    سامانه رزرو اتاق دفاع  
                    </a>
                      <a class="navbar-item is-tab is-hidden-mobile is-active"><span class="icon is-medium"><i class="fa fa-home"></i></span>اصلی</a>
                      <a class="navbar-item is-tab is-hidden-mobile">راهنما</a>
                      
                      <button class="button navbar-burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                      </button>
            
                    </div>
            
            
                    <div class="navbar-menu navbar-end" id="navMenu">
                      <a class="navbar-item is-tab is-hidden-tablet is-active">اصلی</a>
                      <a class="navbar-item is-tab is-hidden-tablet">راهنما</a>
                      <a class="navbar-item nav-tag">              
                        <span class="icon is-small">
                          <i class="fa fa-envelope-o"></i>
                        </span>
                        <span class="tag is-primary tag-notif">6</span>
                      </a>  
                      <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">              
                          <figure class="image is-32x32" style="margin-right:.5em;">
                            <!-- <img src="https://avatars1.githubusercontent.com/u/7221389?v=4&s=32"> -->

                          </figure>
                          وقت بخیر {{ user.username }}!
                        </a>
                      
                        <div class="navbar-dropdown is-right">              
                            <a class="navbar-item">
                              <span class="icon is-small">
                                <i class="fa fa-user-o"></i>
                              </span>
                            آخرین ورود:<br/> {{user.last_login}}
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="logout">
                              <span class="icon is-small">
                                <i class="fa fa-power-off"></i>
                              </span>
                              خروج
                            </a>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>
              </header>
            
              <div class="wrapper">
                <div class="columns">
                  <aside class="column is-2 aside">
                    <nav class="menu">
                      {% comment %} <p class="menu-label">
                        عمومی
                      </p> {% endcomment %}
                      <ul class="menu-list">
                        <li><a href="{% url 'Dashboard' %}"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> داشبورد</a></li>
                      </ul>
                      {% comment %} <p class="menu-label">
                        مدیریت
                      </p> {% endcomment %}
                      <ul class="menu-list">
                        <li><a class="is-active" href="{% url 'DefenseTimes' %}"><span class="icon is-small"><i class="fa fa-table"></i></span> زمان‌های قابل رزرو</a></li>            
                        <li><a href="{% url 'MyRequests' %}"><span class="icon is-small"><i class="fa fa-bar-chart"></i></span> درخواست‌های من</a></li>
            
                        <li>
                          <a class=""><i class="fa fa-cog"></i></span> تنظیمات</a>
                          <ul>
                              <li><a>تغییر گذرواژه</a></li>
                              <li><a>تغییر پوسته</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </aside>
            
                  <main class="column main">
                    {% comment %} {% include "includes/breadcrumb.html" %} {% endcomment %}
            
                    <div class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <div class="title">{% block heading %}{% endblock heading %} </div>
                        </div>
                      </div>
                      <div class="level-right">
                        <div class="level-item">
                          <button type="button" class="button is-small">
                            March 8, 2017 - April 6, 2017
                          </button>
                        </div>
                      </div>
                    </div>
            
            
            {% block content %}{% endblock %}
                   
                      </div>
                    </div>
            
                  </main>
                </div>
              </div>
            


</body>
</html>
