{% extends "base.html" %}
{% block title %}
تغییر گذرواژه
{% endblock title %}

{% block heading %}
تغییر گذرواژه
{% endblock heading %}

{% block content %}

 <!-- <em class="is-size-3">
    {{ request.session.result }}
</em> -->
<form style="direction:rtl" action="{% url 'changePassword' %}" method="post">
    {% csrf_token %}
 <!--
    <div class="field">
    <div class="control">
      <input class="input is-large" type="password" name="oldPasswd" id="oldPasswd" placeholder="گذرواژه‌ی کنونی" autofocus="">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-large" type="password" name="confPasswd" id="confPasswd" placeholder="تکرار گذرواژه">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-large" type="password" name="newPasswd" id="newPasswd" placeholder="گذرواژه‌ی جدید">
    </div>
  </div>-->
  
  {{form}}
  
  <button type="submit" class="button is-block is-info is-large is-fullwidth">ذخیره‌ی تغییرات</button> 
</form>
{% endblock content %}
