{% extends "base.html" %}
{% block title %}
داشبورد
{% endblock title %}

{% block heading %}
داشبورد
{% endblock heading %}
{% block content %}
<div>
    <ul>
        <li>
            نام: {{user.first_name}}
        </li>
        <li>
            نام خانوادگی: {{user.last_name}}
        </li>
        <li>
            نام پدر:
        </li>
        <li>
            کد ملی:
        </li>
        <li>
            شماره دانشچویی:
        </li>
        <li>
            رشته:
        </li>
        <li>
            نیم‌سال تحصیلی:
        </li>
    </ul>

</div>

{% endblock content %}
