{% extends "base.html" %}
{% block title %}
درخواست‌های من
{% endblock title %}

{% block heading %}
درخواست‌های من
{% endblock heading %}
{% block content %}
<div class="columns is-multiline">
    <div class="column">
        <table class="table is-bordered is-striped is-narrow is-fullwidth has-text-right">
<thead>
<td>زمان درخواست شده</td>
<td>تاریخ ثبت درخواست</td>
<td>دانشجوی درخواست‌کننده</td>
<td>عملیات</td>
</thead>
<tbody>
{% for reservation_request in reservation_requests %}
<tr>
    <td>{{ reservation_request.requested_defense_time }}</td>
    <td>{{ reservation_request.request_date_time }}</td>
    <td>{{ reservation_request.requesting_student }}</td>
    
    <td>
        <a class="navbar-item" onclick="postCancelationRequest(this,'{% url 'CancelReservation' %}');" data-id="{{reservationRequest.id}}">
            <span class="icon is-small">
                <i class="fa fa-check"></i>
            </span>
        </a>
    </td>

</tr>

{% endfor %}
    </tbody>
    </table>
{% endblock content %}
<script>

        function postCancelationRequest(sender,endpoint){
            let did=$(sender).data('id');
            //alert(did);
            $.ajax({
                url:endpoint,
                data:{id:did},
                dataType:'JSON',
                method:'POST',
                success:function(result){
                    alert(result.msg);
                },
                error:function(){
                    alert('error');
                }
            })
            }
    </script>

{% block javascript %}
{% endblock javascript %}